<nav class="navbar" [ngClass]="{ hidden: sidenavHidden }">
  <div class="logo" (click)="toggleSidenav(!!sidenavHidden)">
    <img src="assets/wedding-ring/wedding-ring.svg" />
    <span>P. & V. Costa</span>
  </div>
  <div *ngFor="let link of links" class="button-container">
    <button mat-button class="button" [ngClass]="{ active: activeNav?.url === link.url }" color="accent" [routerLink]="'/' + link.url">
      <mat-icon class="button-icon"> {{ link.icon }} </mat-icon>
      <span> {{ link.title }} </span>
    </button>
  </div>
</nav>
