<nav class="navbar" [ngClass]="{ hidden: sidenavHidden }">
  <div class="logo" (click)="onToggleSidenavClick(!sidenavHidden)">
    <img src="assets/wedding-ring/wedding-ring.svg" />
    <span>P. & V. Costa</span>
  </div>

  @for (contentComponent of contentComponents; track contentComponent) {
    <button
      mat-button
      class="button"
      [ngClass]="{ active: currentContentComponent?.url === contentComponent.url }"
      [routerLink]="'/' + contentComponent.url"
    >
      <mat-icon class="button-icon"> {{ contentComponent.icon }} </mat-icon>
      <span> {{ contentComponent.title }} </span>
    </button>
  }

  <button mat-button class="button account" color="primary" (click)="onAccountButtonClick()">
    <mat-icon class="button-icon"> manage_accounts </mat-icon>
    <span> Account (Ich) </span>
  </button>
</nav>
