@use 'src/config.scss' as *;
@use '@angular/material' as mat;

.navbar {
  display: flex;
  padding: 24px;
  gap: 6px;
  background-color: $dark-gray;
  flex-direction: column;
  letter-spacing: 3px;
  height: calc(100% - 48px);

  .logo {
    @include mat.elevation(6, $accent-red);

    background-color: $off-white;
    border-radius: 24px;
    padding: 0 24px;
    height: 36px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    width: calc(100% - 48px);
    font-size: $md-font-size;
    letter-spacing: 3px;
    font-style: italic;
    font-weight: 300;
    color: $black;
    margin-bottom: 8px;

    img {
      height: 100%;
    }

    &:hover {
      @include mat.elevation(12, $accent-red);
    }
  }

  .button {
    width: 100%;
    padding: 12px;
    border-radius: 24px;
    justify-content: flex-start;
    font-size: $md-font-size;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: 150ms;

    &.active {
      background: $transparent-teal;
      margin-bottom: 8px;
    }

    &.account {
      margin-top: auto;
    }

    .button-icon {
      font-size: $md-font-size;
      width: $md-font-size;
      height: $md-font-size;
      margin-right: 12px;
    }
  }

  @media only screen and (max-width: $lg-breakpoint) {
    padding: 24px 12px;

    .logo,
    .button {
      letter-spacing: 1.5px;
    }
  }

  @media only screen and (max-width: $md-breakpoint) {
    padding: 12px 6px;

    .logo,
    .button {
      font-size: $sm-font-size;
      letter-spacing: 1.5px;

      .button-icon {
        font-size: $sm-font-size;
        width: $sm-font-size;
        height: $sm-font-size;
        margin-right: 8px;
      }
    }
  }

  &.hidden {
    overflow: hidden;
    padding: 12px 0;

    .logo {
      border-radius: 0;
      width: 36px;
      padding: 0 6px 0 30px;
      animation: centerButtonLogo 500ms forwards 150ms;
    }

    span {
      display: none;
    }

    .button {
      border-radius: 0;
      padding: 0;

      .button-icon {
        font-size: $sm-font-size;
        width: $sm-font-size;
        height: $sm-font-size;
        margin: 0 18px;
        animation: centerButtonIcon 500ms forwards 150ms;
      }
    }
  }
}

@keyframes centerButtonIcon {
  to {
    margin: 0 20px;
    font-size: $md-font-size;
    width: $md-font-size;
    height: $md-font-size;
  }
}

@keyframes centerButtonLogo {
  to {
    padding: 0 14px;
  }
}
