.navbar {
  padding: 12px;
  display: flex;
  gap: 12px;
  background-color: #4b4b4b;
  flex-direction: column;
  width: 200px;
  height: 100%;

  .button-container {
    width: 100%;
    display: flex;
  }
}
