@let data = $dresscode | async;

@if (currentLoadingState === LoadingState.Loading) {
  <mat-progress-bar class="progress-bar tertiary" mode="indeterminate" />
} @else if (currentLoadingState === LoadingState.Success && data) {
  <div class="main-container">
    <app-content-block [headerText]="data.summaryHeaderText" [bodyTexts]="data.summaryBodyTexts" [hyperLinks]="data.summaryHyperLinks" />

    <div class="dresscode-content">
      <app-content-block class="women-container" [headerText]="data.womenHeaderText" [bodyTexts]="data.womenBodyTexts">
        <ng-container *ngTemplateOutlet="dosDontsTemplate; context: { $implicit: data.women, gender: 'women' }" />
      </app-content-block>

      <app-content-block class="men-container" [headerText]="data.menHeaderText" [bodyTexts]="data.menBodyTexts">
        <ng-container *ngTemplateOutlet="dosDontsTemplate; context: { $implicit: data.men, gender: 'men' }" />
      </app-content-block>
    </div>
  </div>
}

<ng-template let-items let-gender="gender" #dosDontsTemplate>
  <div class="dos-donts-container">
    @for (item of items; track item; let index = $index) {
      <div class="item-container">
        <div class="item-header">{{ item.header }}</div>
        <div class="item-content">
          <ul class="list">
            @for (c of item.content; track c) {
              <li>{{ c }}</li>
            }
          </ul>

          <div class="images-container">
            @for (imageSrc of imagesSrc[gender][index]; track imageSrc) {
              <img [src]="imageSrc" />
            }
          </div>
        </div>
      </div>
    }
  </div>
</ng-template>
