@use '../../../../styles/config.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: 24px 48px;
  gap: 36px;

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .header {
      font-size: $xl-font-size;
      line-height: $xl-font-size;
      letter-spacing: 3px;
      font-weight: 300;
      color: $darkest-gray;
      text-align: center;
    }

    .sub-header {
      font-size: $md-font-size;
      color: $dark-gray;
      font-weight: 300;
    }
  }

  .guests-select-container {
    margin-bottom: -22px;
    width: 100%;
    align-items: center;

    .guests-form-field {
      width: 100%;
    }
  }

  .disclaimer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .disclaimer,
    .disabled-guest-hint {
      font-size: $md-font-size;
      color: $dark-gray;
      font-weight: 300;
    }

    .disabled-guest-hint {
      font-size: $md-font-size;
      font-weight: 500;
    }
  }

  .actions-container {
    text-align: center;
    display: flex;
    gap: 24px;
    flex-direction: column;

    .radio-button-group {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: $light-gray;
      padding: 6px 12px;
      border-radius: $m-border-radius;
    }

    .action-buttons-container {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: end;

      .cancel-button {
        color: $darker-gray;
        border-color: $darker-gray;
      }

      .confirm-button {
        &.disabled {
          background: $gray;
        }
      }
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .container {
    margin: 24px;
    gap: 24px;

    .header-container {
      gap: 16px;

      .header {
        font-size: $lg-font-size;
        line-height: $lg-font-size;
      }

      .sub-header {
        font-size: $sm-font-size;
        line-height: $sm-font-size;
      }
    }

    .disclaimer-container {
      .disclaimer,
      .disabled-guest-hint {
        font-size: $sm-font-size;
      }
    }
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .container {
    margin: 24px 16px;
    gap: 16px;

    .header-container {
      gap: 12px;

      .header {
        font-size: $md-font-size;
        line-height: $md-font-size;
      }
    }

    .actions-container .radio-button-group {
      margin-top: 12px;
    }
  }
}
