@use 'src/config.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: 24px;

  span {
    text-align: justify;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      font-size: $lg-font-size;
      font-weight: 300;
      color: $darkest-gray;
      text-align: center;
    }

    .sub-header {
      font-size: $sm-font-size;
      color: $dark-gray;
      font-weight: 300;
      margin: 0 10%;
    }
  }

  .guests-select-container {
    margin: 24px 0;
    width: 65%;
    align-self: center;

    .guests-form-field {
      width: 100%;
    }
  }

  .disclaimer-container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .disclaimer,
    .disabled-guest-hint {
      font-size: $sm-font-size;
      color: $dark-gray;
      font-weight: 300;
      margin: 0 5%;
    }

    .disabled-guest-hint {
      font-size: $sm-font-size;
      font-weight: 500;
      margin: 0 5%;
    }
  }

  .actions-container {
    margin-top: 24px;
    text-align: center;
    display: flex;
    gap: 24px;
    flex-direction: column;

    .radio-button-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: $gray;
      padding: 6px 12px;
      margin: 0 17.5%;
      border-radius: 24px;

      mat-radio-button {
        &.disabled {
          opacity: 0.5;
        }
      }
    }

    .action-buttons-container {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: end;

      .cancel-button {
        color: $medium-gray;
        border-color: $medium-gray;
      }

      .confirm-button {
        &.disabled {
          background: $gray;
        }
      }
    }
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .container {
    .header-container .sub-header {
      margin: 0 5%;
    }

    .guests-select-container {
      width: 80%;
    }

    .disclaimer-container {
      .disclaimer,
      .disabled-guest-hint {
        margin: 0;
      }
    }

    .actions-container .radio-button-group {
      margin: 0 5%;
    }
  }
}

@media only screen and (max-width: $sm-breakpoint) {
  .container {
    .header-container {
      .header {
        font-size: $md-font-size;
      }

      .sub-header {
        margin: 0;
      }

      .guests-select-container {
        width: 100%;
      }
    }

    .disclaimer-container {
      .disclaimer,
      .disabled-guest-hint {
        margin: 0;
      }
    }

    .actions-container .radio-button-group {
      margin: 0;
    }
  }
}
