@let data = $dosAndDonts | async;

@if (currentLoadingState === LoadingState.Loading) {
  <mat-progress-bar class="progress-bar dark-magenta" mode="indeterminate" />
} @else if (currentLoadingState === LoadingState.Success && data) {
  <div class="main-container">
    <app-content-block [headerText]="data.summary.header" [bodyTexts]="data.summary.content" />
  </div>

  <div class="main-container split">
    @for (c of [data.before, data.during]; track $index) {
      <app-content-block [headerText]="c.header" [bodyTexts]="c.content" />
    }
  </div>
}
