@use 'src/config.scss' as *;
@use '@angular/material' as mat;

.home-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 24px;

  .contact {
    @include mat.elevation(4);
    background-color: $lightest-gray;
    padding: 24px;
    border-radius: $m-border-radius;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transition: 200ms;

    &:hover {
      @include mat.elevation(16);
    }

    .contact-header {
      display: flex;
      gap: 24px;
      align-items: center;

      .image {
        @include mat.elevation(6);
        border-radius: 50%;
        width: 120px;
      }

      .name {
        font-size: $lg-font-size;
        letter-spacing: 2px;
        font-weight: 300;
        color: $darker-gray;
      }
    }

    .contact-actions-container {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 12px;

      & > * {
        width: 100%;
      }

      button {
        justify-content: start;
        padding-left: 24px;
        text-align: start;
        word-break: break-all;

        span {
          margin-right: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: $lg-breakpoint) {
  .home-content {
    gap: 24px;
  }

  .contact-container .contact .contact-header .image {
    width: 80px;
  }

  .name {
    font-size: $md-font-size;
  }
}

@media only screen and (max-width: $md-breakpoint) {
  .contact-container {
    grid-template-columns: 1fr;

    .contact .contact-header .name {
      font-size: $sm-font-size;
      letter-spacing: 1.5px;
    }
  }
}
