@if (currentLoadingState === LoadingState.Loading) {
  <mat-progress-bar class="progress-bar dark-magenta" mode="indeterminate" />
} @else if (currentLoadingState === LoadingState.Success && homepage) {
  <app-content-block class="account-info" [headerText]="homepage.accountHeaderText" [bodyTexts]="homepage.accountBodyText" />

  <div class="main-container">
    <div class="home-content">
      <app-content-block [headerText]="homepage.summaryHeaderText" [bodyTexts]="homepage.summaryBodyText" />

      <app-content-block [headerText]="homepage.dateEventHeaderText" [bodyTexts]="[homepage.dateEventBodyText]">
        <a class="display-none" href="/assets/calendar-event.ics" download="Hochzeit_Costa" #calLink></a>
        <button mat-raised-button class="mat-button light-green" (click)="calLink.click()">
          <mat-icon>download</mat-icon>
          <span>{{ homepage.dateEventButtonText }} </span>
        </button>
      </app-content-block>

      <app-content-block [headerText]="homepage.contactsHeaderText" [bodyTexts]="[homepage.contactsBodyText]">
        <div class="contact-container">
          @for (c of homepage.contacts; track $index) {
            <div class="contact">
              <div class="contact-header">
                <img class="image" [src]="'/assets/images/shared/' + c.id + '.jpg'" />
                <span class="title">{{ c.firstName }}</span>
              </div>

              <div class="contact-actions-container">
                <a class="display-none" [href]="'mailto:' + c.email + '?subject=Costa%20Hochzeit:%20Website'" #emailLink></a>
                <button mat-raised-button class="mat-button light-green" (click)="emailLink.click()">
                  <mat-icon>email</mat-icon>
                  <span>{{ c.email }} </span>
                </button>
                <a class="display-none" [href]="'tel:' + c.phone" #phoneLink></a>
                <button mat-raised-button class="mat-button light-green" (click)="phoneLink.click()">
                  <mat-icon>phone</mat-icon>
                  <span>{{ c.phone }} </span>
                </button>
              </div>
            </div>
          }
        </div>
      </app-content-block>
    </div>

    <app-messages [config]="messages" />
  </div>
}
