@let data = $locationJourney | async;
@let location = data?.location;
@let journey = data?.journey;

@if (currentLoadingState === LoadingState.Loading) {
  <mat-progress-bar class="progress-bar dark-magenta" mode="indeterminate" />
} @else if (currentLoadingState === LoadingState.Success && data) {
  <div class="main-container">
    <app-content-block contentPosition="grid" [headerText]="location.headerText" [bodyTexts]="location.bodyTexts">
      <div class="images-container is-hovered">
        @for (i of imageSrc.chadim; track $index) {
          <div class="img-container" (click)="websiteLink.click()">
            <img class="img" [src]="i" />
          </div>
        }
        <span class="hint">{{ location.website.linkText }}</span>
        <a class="display-none" target="_blank" [href]="location.website.linkUrl" #websiteLink></a>
      </div>

      <div class="map-container">
        <div class="img-wrapper is-hovered">
          <span [ngStyle]="{ opacity: googleMapsPreviewNoteOpacity }" id="google-maps-preview-note" (click)="googleMapsLink.click()">
            {{ location.googleMapsLink.linkNote }}
          </span>
          <img
            class="img"
            [ngStyle]="{ filter: googleMapsPreviewFilter }"
            [src]="imageSrc.googleMaps"
            (click)="googleMapsLink.click()"
            (mouseenter)="onMouseGoogleMapsImage(true)"
            (mouseleave)="onMouseGoogleMapsImage(false)"
          />

          <span class="hint">{{ location.googleMapsLink.linkText }}</span>
          <a class="display-none" target="_blank" [href]="location.googleMapsLink.linkUrl" #googleMapsLink></a>
        </div>

        <ng-container *ngTemplateOutlet="additionalInfoCard" />
      </div>

      <button mat-raised-button class="google-maps-route-button mat-button light-green" (click)="googleMapsRoute.click()">
        <mat-icon>pin_drop</mat-icon>
        <span> {{ journey.googleMapsRoute.general.linkText }}</span>
      </button>
      <a class="display-none" target="_blank" [href]="journey.googleMapsRoute.general.linkUrl" #googleMapsRoute></a>
    </app-content-block>

    <app-content-block class="journey" contentPosition="tab" [headerText]="journey.headerText">
      <mat-tab-group>
        <mat-tab [label]="journey.carTabLabel">
          <div class="body">
            <div class="texts">
              @for (t of journey.carTabParkingBodyTexts; track $index) {
                <span> {{ t }}</span>
              }
            </div>
            <div class="images-container is-hovered">
              <div class="img-container">
                <span [ngStyle]="{ opacity: parkingPreviewNoteOpacity }" id="parking-image-preview-note" (click)="parkingLink.click()">
                  {{ location.parkingLink.linkNote }}
                </span>
                <img
                  class="img"
                  [ngStyle]="{ filter: parkingPreviewFilter }"
                  [src]="imageSrc.parking"
                  (mouseenter)="onMouseParkingImage(true)"
                  (mouseleave)="onMouseParkingImage(false)"
                />

                <a class="display-none" target="_blank" [href]="location.parkingLink.linkUrl" #parkingLink></a>
              </div>
            </div>
          </div>

          <div class="actions-container">
            <a class="display-none" target="_blank" [href]="journey.googleMapsRoute.car.linkUrl" #googleMapsCarLink></a>
            <button mat-raised-button class="mat-button light-green" (click)="googleMapsCarLink.click()">
              <mat-icon>directions_car</mat-icon>
              <span>{{ journey.googleMapsRoute.car.linkText }} </span>
            </button>
          </div>
        </mat-tab>
        <mat-tab [label]="journey.publicTabLabel">
          <div class="body two-sides">
            <div class="route">
              <div class="sub-header">{{ journey.publicTabSteps[0][0] }}</div>
              <div class="steps">
                @for (step of journey.publicTabSteps[0]; track $index; let first = $first) {
                  @if (!first) {
                    <span class="step"> - {{ step }}</span>
                  }
                }
              </div>
            </div>
            <div class="route">
              <div class="sub-header">{{ journey.publicTabSteps[1][0] }}</div>
              <div class="steps">
                @for (step of journey.publicTabSteps[1]; track $index; let first = $first) {
                  @if (!first) {
                    <span class="step"> - {{ step }}</span>
                  }
                }
              </div>
            </div>
          </div>

          <div class="actions-container">
            <a class="display-none" target="_blank" [href]="journey.googleMapsRoute.public.linkUrl" #googleMapsPublicLink></a>
            <button mat-raised-button class="mat-button light-green" (click)="googleMapsPublicLink.click()">
              <mat-icon>subway</mat-icon>
              <span>{{ journey.googleMapsRoute.public.linkText }} </span>
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </app-content-block>
  </div>
}

<ng-template #additionalInfoCard>
  @let links = [location.website, location.googleMapsLink];

  <div class="additional-info-card">
    <div class="header">
      <img class="image" [src]="imageSrc.chadimLogo" />
      <span class="title">{{ location.address.title }}</span>
    </div>

    <div class="content">
      <span class="address" [innerHTML]="location.address | UserAddress"></span>
    </div>

    <div class="actions">
      @for (l of links; track $index; let idx = $index) {
        <button mat-raised-button class="mat-button light-green" color="accent" (click)="OnOpenUrl(l)">
          <mat-icon>{{ additionalInfoIcons[idx] }}</mat-icon>
          <span> {{ l.linkText }} </span>
        </button>
      }
    </div>
  </div>
</ng-template>
