::ng-deep .mat-mdc-button {
  padding: 0 12px !important;
  border-radius: 24px !important;
  color: rgb(220, 220, 220) !important;
  align-self: baseline !important;
  flex: 1 !important;
}

::ng-deep .mdc-button__label {
  margin-right: auto !important;
}
