@use '../styles/_mixins.scss' as mixin;
@use '../styles/config.scss' as *;

.container {
  height: 100%;

  mat-drawer {
    width: fit-content;
  }

  .content {
    @include mixin.l-transition;

    padding: 24px;
  }

  @media only screen and (max-width: $md-breakpoint) {
    mat-drawer {
      border-radius: initial;
    }

    .content {
      padding: 12px 24px;
    }
  }
}
