<app-content-block [headerText]="config.messagesHeaderLabel">
  <div class="messages-container">
    <div class="messages">
      @switch (currentUserMessagesLoadingState) {
        @case (LoadingState.Success) {
          @for (userMessage of userMessages; track userMessage) {
            <div class="message" [ngClass]="{ admin: userMessage.isAdminMessage }">
              <span>{{ userMessage.value }}</span>
              <span class="date">{{ userMessage.date | date: 'dd.MM.' }}</span>
            </div>
          }
        }
        @case (LoadingState.Error) {
          <span class="error">{{ config.messagesLoadingErrorLabel }}</span>
        }
        @case (LoadingState.Loading) {
          <mat-spinner class="spinner messages-spinner light-green" diameter="50" />
        }
      }
    </div>

    <div class="input-form-container">
      <mat-form-field class="input-form">
        <mat-label>{{ config.messagesInputHeaderLabel }}</mat-label>
        <textarea matInput required cdkTextareaAutosize [formControl]="currentUserMessage"></textarea>
        @if (currentUserMessage.invalid) {
          <mat-error>{{ config.messagesInputInvalidLabel }}</mat-error>
        }
      </mat-form-field>

      <button mat-icon-button class="send-button" (click)="onSendUserMessageButtonClick()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</app-content-block>
