@import 'src/styles/config.scss';

.main-container {
  flex-direction: column;

  .image-container {
    img {
      max-width: 60%;
      width: 400px;
      float: right;

      @media only screen and (max-width: $sm-breakpoint) {
        max-width: 80%;
        margin: 0 10%;
      }
    }
  }
}
