@import 'src/styles/config.scss';

.main-container {
  .image-container {
    img {
      max-width: 60%;
      width: 400px;
      float: right;

      @media only screen and (max-width: $md-breakpoint) {
        margin: 0 20%;
      }

      @media only screen and (max-width: $sm-breakpoint) {
        max-width: 100%;
        margin: 0;
      }
    }
  }
}
