$l-font-size: 36px;
$m-font-size: 24px;
$s-font-size: 14px;
$xs-font-size: 10px;

$white: rgb(255, 255, 255);
$beige: rgb(246, 241, 234);
$transparent-teal: rgba(0, 225, 255, 0.4);
$lighter-gray: rgb(90, 90, 90);
$light-gray: rgb(70, 70, 70);
$accent-red: rgb(130, 30, 30);
$medium-gray: rgb(50, 50, 50);
$dark-gray: rgb(30, 30, 30);
$input-color: rgb(30, 30, 30);
$black: rgb(0, 0, 0);

$sm-breakpoint: 960px;
$xs-breakpoint: 600px;

$default-border-radius: 24px;
$light-border-radius: 12px;
$lighter-border-radius: 6px;
