@use 'src/config.scss' as *;

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* --- shared general components ----------------------------------------------------- */
.display-none {
  display: none;
}

.progress-bar {
  position: absolute !important;
  left: 0;
  top: 0;
}

/* --- shared wrapping component ----------------------------------------------------- */
.main-container {
  display: flex;
  gap: 36px;
  padding-right: calc(160px - 24px);
  margin-bottom: 48px;

  @media only screen and (max-width: $xl-breakpoint) {
    padding-right: calc(80px - 24px);
  }

  @media only screen and (max-width: $lg-breakpoint) {
    flex-direction: column;
    padding: 0;
    gap: 24px;
  }
}

/* --- material custom styles ----------------------------------------------------- */

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: rgb(200, 200, 200) !important;
}

.mdc-text-field--filled {
  background-color: rgb(160, 160, 160) !important;

  .mdc-floating-label {
    color: $input-color !important;
  }
}

.mat-mdc-select-value-text {
  color: $accent-red;
}

.mat-mdc-input-element {
  color: $input-color !important;
}

/* ------------------------------------------------------------------------------- */
