<div class="content-block" [ngClass]="{ grid: contentPosition === 'grid' }">
  @if (headerText; as h) {
    <div class="header">{{ h }}</div>
  }
  <div class="body">
    @for (t of bodyTexts; track t) {
      <span> {{ t }}</span>
    }

    @for (c of additionalInfoCards; track c) {
      <ng-container *ngTemplateOutlet="c" />
    }

    <div class="buttons">
      @for (l of hyperLinks; track l) {
        <button mat-raised-button class="mat-button" (click)="link.click()">{{ l.linkText }}</button>
        <a class="display-none" target="_blank" [href]="l.linkUrl" #link>{{ l.linkText }}</a>
      }
    </div>
  </div>

  <ng-content class="ng-content" />
</div>
