@use '../../../../styles/config.scss' as *;
@use '../../../../styles/_mixins.scss' as mixin;
@use '@angular/material' as mat;

.content-block {
  @include mat.elevation(4, $off-white);
  @include mixin.l-transition;

  border-radius: $m-border-radius;
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 36px;

  &:hover {
    @include mat.elevation(10, $off-white);

    padding-bottom: 48px;
  }

  .header {
    @include mixin.header-text;

    text-align: center;
  }

  .body {
    @include mixin.body-text;

    display: flex;
    flex-direction: column;
    gap: 24px;

    .hints {
      display: flex;
    }
  }

  .hint-card {
    margin-top: 24px;
  }

  &.grid {
    display: grid;
    row-gap: 24px;
    grid-template-columns: repeat(2, auto);

    .header {
      grid-column: 1 / span 2;
    }

    .body {
      grid-column: 1 / span 1;
    }

    @media only screen and (max-width: $lg-breakpoint) {
      row-gap: 12px;
    }

    @media only screen and (max-width: $md-breakpoint) {
      display: flex;
    }
  }

  @media only screen and (max-width: $lg-breakpoint) {
    padding: 24px 48px;
  }

  @media only screen and (max-width: $md-breakpoint) {
    padding: 24px;
  }
}
